<a href="https://colab.research.google.com/github/Aschit/aschitdhakal1/blob/main/AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#lamda expression

squares= lambda x:x**2
print(squares(9))

81

In [ ]:
squares= list(map(lambda x:x**2,[12,23,45,67,77,88,999]))
print(square)
square= list(map(square,[12,34,55,66,6,7,]))
print(square)

NameError: ignored

In [ ]:
square

NameError: ignored

In [ ]:
def even(x):
  if(x%2==0):
    return x

In [ ]:
even= list(filter(even,[12,45,77,7,8,8,8,8,88]))
print(even)

[12, 8, 8, 8, 8, 88]

In [ ]:
evens=list(filter(lambda x:x%2==0),[1,5,5,6,77,8,8,8,12])
print(evens)

TypeError: ignored

In [ ]:
#slicing


x=[12,34,5,5,5,66,7,7,7,7]

In [ ]:
x[:1]       #gives the first element

[12]

In [ ]:
x[:5]

[12, 34, 5, 5, 5]

In [ ]:
x[-1]                 #gives last element

7

In [ ]:
x[1:-1]        #gives all the element includig the alast elemwnrt

[34, 5, 5, 5, 66, 7, 7, 7]

In [ ]:
x[1:-1]   #givea all the element excluding the first and last

[34, 5, 5, 5, 66, 7, 7, 7]

In [ ]:
name='ram dhakal'

In [ ]:
name[0:3]

'ram'

In [ ]:
name[4:9]

'dhaka'

In [ ]:
#string splitting

sen="Today is quite cloudly day. i wish i culd stay in home today"

In [ ]:
splits= sen.split(".")

In [ ]:
print(splits)
print(type(splits))
print(len(splits))
print(splits[0])

['Today is quite cloudly day', ' i wish i culd stay in home today']
<class 'list'>
2
Today is quite cloudly day

In [ ]:
for i in splits:
  print(i)

Today is quite cloudly day
 i wish i culd stay in home today

In [ ]:
wordSplit= sen.split('')
print('the total number of words:(len(wordsplit))')

ValueError: ignored

In [ ]:
for i in wordsplit:
  print(i)

NameError: ignored

In [ ]:
 txt ="hello, its me aschit dahakak, i m 22 years old"
 x= txt.split(",")
 print(x)

['hello', ' its me aschit dahakak', ' i m 22 years old']

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [ ]:

#using hash tag for selector

txt= "#######bannaa#iuayagagagag#orange"
x= txt.split(",")
print(x)

['#######bannaa#iuayagagagag#orange']

In [ ]:
#split into two items

txt= "#aschit #dhakal #abibhd #qweert"

# setting the max paramter to 1 return the 2 dimension
x= txt.split("#,1")
print(x)

['#aschit #dhakal #abibhd #qweert']

In [ ]:
text='How to split in python'     #number of character see

print(len(text.split()))
print(text)

5
How to split in python

In [ ]:

# import pandas

pandas is a python library used foer working with data xcell
#has to be used for analyzing the clearing exploring and manipulating th data

In [ ]:
import pandas as pd

In [ ]:
data={'Name':['hari','ram','gopal'],
      'Designation':['Manager','Poem','Officer'],
      'Experience':[2,3,4],
      'salary':[34000,50000,80000]}

In [ ]:
for i in data:
  print(i,'',data[i])

Name  ['hari', 'ram', 'gopal']
Designation  ['Manager', 'Poem', 'Officer']
Experience  [2, 3, 4]
salary  [34000, 50000, 80000]

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df

    Name Designation  Experience  salary
0   hari     Manager           2   34000
1    ram        Poem           3   50000
2  gopal     Officer           4   80000

In [ ]:
df.describe()

       Experience        salary
count         3.0      3.000000
mean          3.0  54666.666667
std           1.0  23352.373184
min           2.0  34000.000000
25%           2.5  42000.000000
50%           3.0  50000.000000
75%           3.5  65000.000000
max           4.0  80000.000000

In [ ]:
df.shape

(3, 4)

In [ ]:
#data dictionary


dataDict={'Name':['ram','shyam','hari','gopal','manish'],
'Age':[23,5,66,7,8],
'Designation':['clerk','supervisor','manager','Director','Superintendent'],
'Experience':[2,3,5,6,7],
'Salary':[10000,50000,90000,70000,40000]}

In [ ]:
for i in dataDict:
  print(i,'',dataDict[i])

Name  ['ram', 'shyam', 'hari', 'gopal', 'manish']
Age  [23, 5, 66, 7, 8]
Designation  ['clerk', 'supervisor', 'manager', 'Director', 'Superintendent']
Experience  [2, 3, 5, 6, 7]
Salary  [10000, 50000, 90000, 70000, 40000]

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(dataDict)

In [ ]:
df

     Name  Age     Designation  Experience  Salary
0     ram   23           clerk           2   10000
1   shyam    5      supervisor           3   50000
2    hari   66         manager           5   90000
3   gopal    7        Director           6   70000
4  manish    8  Superintendent           7   40000

In [ ]:
df.shape

(5, 5)

In [ ]:
from numpy.random.mtrand import f
from pandas.core.indexes.base import F
print(f'Number of row:  {(df.shape[0])}')
print(f'Number of column : {(df.shape[1])}')

Number of row:  5
Number of column : 5

In [ ]:
df.describe()

            Age  Experience        Salary
count   5.00000    5.000000      5.000000
mean   21.80000    4.600000  52000.000000
std    25.72353    2.073644  30331.501776
min     5.00000    2.000000  10000.000000
25%     7.00000    3.000000  40000.000000
50%     8.00000    5.000000  50000.000000
75%    23.00000    6.000000  70000.000000
max    66.00000    7.000000  90000.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         5 non-null      object
 1   Age          5 non-null      int64
 2   Designation  5 non-null      object
 3   Experience   5 non-null      int64
 4   Salary       5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 328.0+ bytes

In [ ]:
pip install pandas-profiling as pp

Requirement already satisfied: pandas-profiling in /usr/local/lib/python3.10/dist-packages (3.6.6)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as

In [ ]:
df.head()

     Name  Age     Designation  Experience  Salary
0     ram   23           clerk           2   10000
1   shyam    5      supervisor           3   50000
2    hari   66         manager           5   90000
3   gopal    7        Director           6   70000
4  manish    8  Superintendent           7   40000

In [ ]:
profile= pp.profileReport(df)
profile.t0_file("output.html")

NameError: ignored

In [1]:
import pandas as pd

In [8]:
    pd.read_csv('Global.csv')

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,"6,52,230",33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,"6,52,230",33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,"6,52,230",33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,"6,52,230",33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,"6,52,230",33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,3227.68020,10.00,11020.000460,NaN,0.755869,1464.588957,38,"3,90,757",-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,3068.01150,9.51,10340.000150,NaN,4.709492,1235.189032,38,"3,90,757",-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,3441.98580,9.83,12380.000110,NaN,4.824211,1254.642265,38,"3,90,757",-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,3003.65530,10.47,11760.000230,NaN,-6.144236,1316.740657,38,"3,90,757",-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.13180,10.00,NaN,NaN,-6.248748,1214.509820,38,"3,90,757",-19.015438,29.154857

NameError: ignored

In [10]:
  GlobalData=pd.read_csv('Global.csv')

In [11]:
GlobalData

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,"6,52,230",33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,"6,52,230",33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,"6,52,230",33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,"6,52,230",33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,"6,52,230",33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,3227.68020,10.00,11020.000460,NaN,0.755869,1464.588957,38,"3,90,757",-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,3068.01150,9.51,10340.000150,NaN,4.709492,1235.189032,38,"3,90,757",-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,3441.98580,9.83,12380.000110,NaN,4.824211,1254.642265,38,"3,90,757",-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,3003.65530,10.47,11760.000230,NaN,-6.144236,1316.740657,38,"3,90,757",-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.13180,10.00,NaN,NaN,-6.248748,1214.509820,38,"3,90,757",-19.015438,29.154857

In [13]:
GlobalData.shape

(3649, 21)

In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
import pandas as pd
GlobalData=pd.read_csv('drive/MyDrive/Global.csv')

In [36]:
GlobalData

,Entity,Year,Access to electricity (% of population),Access to clean fuels for cooking,Renewable-electricity-generating-capacity-per-capita,Financial flows to developing countries (US $),Renewable energy share in the total final energy consumption (%),Electricity from fossil fuels (TWh),Electricity from nuclear (TWh),Electricity from renewables (TWh),...,Primary energy consumption per capita (kWh/person),Energy intensity level of primary energy (MJ/$2017 PPP GDP),Value_co2_emissions_kt_by_country,Renewables (% equivalent primary energy),gdp_growth,gdp_per_capita,Density\n(P/Km2),Land Area(Km2),Latitude,Longitude
0,Afghanistan,2000,1.613591,6.2,9.22,20000.0,44.99,0.16,0.0,0.31,...,302.59482,1.64,760.000000,NaN,NaN,NaN,60,"6,52,230",33.939110,67.709953
1,Afghanistan,2001,4.074574,7.2,8.86,130000.0,45.60,0.09,0.0,0.50,...,236.89185,1.74,730.000000,NaN,NaN,NaN,60,"6,52,230",33.939110,67.709953
2,Afghanistan,2002,9.409158,8.2,8.47,3950000.0,37.83,0.13,0.0,0.56,...,210.86215,1.40,1029.999971,NaN,NaN,179.426579,60,"6,52,230",33.939110,67.709953
3,Afghanistan,2003,14.738506,9.5,8.09,25970000.0,36.66,0.31,0.0,0.63,...,229.96822,1.40,1220.000029,NaN,8.832278,190.683814,60,"6,52,230",33.939110,67.709953
4,Afghanistan,2004,20.064968,10.9,7.75,NaN,44.24,0.33,0.0,0.56,...,204.23125,1.20,1029.999971,NaN,1.414118,211.382074,60,"6,52,230",33.939110,67.709953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3644,Zimbabwe,2016,42.561730,29.8,62.88,30000.0,81.90,3.50,0.0,3.32,...,3227.68020,10.00,11020.000460,NaN,0.755869,1464.588957,38,"3,90,757",-19.015438,29.154857
3645,Zimbabwe,2017,44.178635,29.8,62.33,5570000.0,82.46,3.05,0.0,4.30,...,3068.01150,9.51,10340.000150,NaN,4.709492,1235.189032,38,"3,90,757",-19.015438,29.154857
3646,Zimbabwe,2018,45.572647,29.9,82.53,10000.0,80.23,3.73,0.0,5.46,...,3441.98580,9.83,12380.000110,NaN,4.824211,1254.642265,38,"3,90,757",-19.015438,29.154857
3647,Zimbabwe,2019,46.781475,30.1,81.40,250000.0,81.50,3.66,0.0,4.58,...,3003.65530,10.47,11760.000230,NaN,-6.144236,1316.740657,38,"3,90,757",-19.015438,29.154857
3648,Zimbabwe,2020,52.747670,30.4,80.61,30000.0,81.90,3.40,0.0,4.19,...,2680.13180,10.00,NaN,NaN,-6.248748,1214.509820,38,"3,90,757",-19.015438,29.154857